@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,300&family=Open+Sans:wght@300;400;700&family=Poppins:wght@100;300;400;700&family=Roboto:wght@100;300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,300&family=Open+Sans:wght@300;400;700&family=Poppins:wght@100;300;400;700&family=Roboto:wght@100;300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.active {
  color: #ffffff;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.font-montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.mouse-follower {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  box-sizing: border-box;
  transition: 0.1s;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

@media only screen and (max-width: 600px) {
  .mouse-follower {
    display: none;
  }
}

.wave {
  animation: wave 4s ease-in-out infinite;
}

@keyframes wave {
  0% {
    transform: scaleY(1) skewY(0deg);
  }
  50% {
    transform: scaleY(1.07) skewY(5deg); /* Adjust the values to control the wave effect */
  }
  75% {
    transform: scaleX(1.07) skewX(5deg); /* Adjust the values to control the wave effect */
  }
  100% {
    transform: scaleY(1) skewY(0deg);
  }
}
