.mouse-follower {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    box-sizing: border-box;
    /* transition: 1s; */
    transform: translate(-50%,-50%);
    z-index: 99999;
  }
  